@model SaigonRideProject.ViewModels.AdminVehicleViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Edit Vehicle</h3>

<form method="post">

    <input type="hidden" name="Id" value="@Model.Id" />

    <div class="mb-3">
        <label>Vehicle Type</label>
        <select class="form-control" name="VehicleType">
            <option value ="Bike" selected="@(Model.VehicleType == "Bike")">Bike</option>
            <option value="E-Scooter" selected="@(Model.VehicleType == "E-Scooter")">E-Scooter</option>
        </select>
    </div>

    <div class="mb-3">
        <label>Plate Number</label>
        <input class="form-control" name="PlateNumber" value="@Model.PlateNumber" />
    </div>

    <div class="mb-3">
        <label>Status</label>
        <select class="form-control" name="Status">
            <option value="Available" selected="@(Model.Status == "Available")">Available</option>
            <option value="InUse" selected="@(Model.Status == "InUse")">InUse</option>
            <option value="Maintenance" selected="@(Model.Status == "Maintenance")">Maintenance</option>
        </select>
    </div>

    <div class="mb-3">
        <label>Price Per Minute</label>
        <select class="form-control" name="PricePerMinute">
            <option value="500" selected="@(Model.PricePerMinute == 500)">500 VND</option>
            <option value="1500" selected="@(Model.PricePerMinute == 1500)">1500 VND</option>
        </select>
    </div>

    <div class="mb-3">
        <label>Station</label>
        <select class="form-control" name="StationId">
            @foreach (var s in ViewBag.Stations)
            {
                <option value="@s.Id" selected="@(s.Id == Model.StationId)">
                    @s.Name
                </option>
            }
        </select>
    </div>

    <button class="btn btn-primary">Save</button>

</form>