@model SaigonRideProject.ViewModels.StationDetailViewModel

<div class="container mt-4">

    <h2>@Model.Station.Name</h2>
    <p>@Model.Station.Address</p>

    <div class="alert alert-info">
        Capacity: @Model.Capacity |
        Available: @Model.AvailableCount
    </div>

    <div id="map" style="height:400px;margin-bottom:20px"></div>

    <div class="row">

        @foreach (var v in Model.Vehicles)
        {
            <div class="col-md-4">

                <div class="card p-3 mb-3">

                    <h5>@v.VehicleType</h5>

                    <p>
                        Plate: @v.PlateNumber <br />
                        Price: @v.PricePerMinute / min
                    </p>

                    @if (v.Status == "Available")
                    {
                        <a class="btn btn-success w-100"
                               href="/Rental/Start?vehicleId=@v.Id&stationId=@Model.Station.Id">
                            Rent
                        </a>
                    }
                    else
                    {
                        <button class="btn btn-secondary w-100" disabled>
                            Not Available
                        </button>
                    }

                </div>

            </div>
        }

    </div>

</div>

<script>

    function initMap() {

        const pos = [@Model.Station.Latitude, @Model.Station.Longitude];

        const map = L.map('map').setView(pos, 15);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);

        L.marker(pos)
            .addTo(map)
            .bindPopup("@Model.Station.Name");

    }

    window.onload = initMap;

</script>